<div id="messages">
<%= turbo_frame_tag "room-messages" do %>
  <% if @messages.any? && @messages.first.room.present? %>
    <div class="room-header">
      <h3><%= @room.name %></h3>
      <div class="room-Users">
        <small><b>Users : </b> 
          <% @room.users.each do |user| %>
          <%= user.username %> |
        <% end %>
        </small>
      </div>
    </div>
  <% else %>
    <p>No messages</p>
  <% end %>
    <div id="message-list">
      <% @messages.each do |message| %>
        <%= render message %>
      <% end %>
    </div>
    <%= render partial: 'messages/form', locals: { message: Message.new(room: @room) } %>

    <%= turbo_stream_from @room %>
  <% end %>
</div>


